:root {
  --gradient: linear-gradient(
    90deg,
    #da5555,
    #d99754,
    #d9d954,
    #97d954,
    #54d954,
    #54d997,
    #54d9d9,
    #5454d9,
    #9754d9,
    #d954d9,
    #d95497,
    #da5555
  );
}

body {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  
  margin: 0;
  background-image: var(--gradient);
  background-size: 1600% 100%;
  background-repeat: repeat-x;
  height:100vh;
  width:100vw;
  
  animation: fade 60s infinite linear reverse;
}

@keyframes fade {
  0% {
    background-position-x: 0%;
  }
  100% {
    /* 100% + 100/1600(size)*100 = 100% + 6.25% */
    background-position-x: -106.25%;
  }
}

.center {
  width: 75%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5%;
  
  mix-blend-mode: screen;
  color: black;
  text-align: center;
}

.center *::selection {
  background-color: black;
  color:white;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}
