:root {
  --gradient: linear-gradient(
    90deg,
    #da5555,
    #d99754,
    #d9d954,
    #97d954,
    #54d954,
    #54d997,
    #54d9d9,
    #5454d9,
    #9754d9,
    #d954d9,
    #d95497,
    #da5555
  );
}

body {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

body.darkmode, body.darkmode img {
  filter: invert(1.0) hue-rotate(180deg);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  filter: brightness(80%) saturate(90%) contrast(80%);
}

p {
  font-size: 1em;
  font-weight: bolder;
}

.center {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgtext {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content {
  margin: 10% 5%;
}

.fade {
  background-image: var(--gradient);
  background-size: 1600% 100%;
  background-repeat: repeat-x;
  
  animation: fade 60s infinite linear reverse;
}

@keyframes fade {
  0% {
    background-position-x: 0%;
  }
  100% {
    /* 100% + 100/1600(size)*100 = 100% + 6.25% */
    background-position-x: -106.25%;
  }
}

.panel {
  position: relative;
  min-height:100vh;
  width:100vw;
  background-color: white;
}

.hollow-text {
  mix-blend-mode: screen;
  color: black;
  text-align: center;
  
  color: black;
  background-color: white;
  padding: 5%;
}

.hollow-text *::selection {
  background-color: black;
  color:white;
}
